[submodule "CharacterAnimationTools"]
	path = CharacterAnimationTools
	url = git@github.com:KosukeFukazawa/CharacterAnimationTools.git
[submodule "MoConVQ"]
	path = MoConVQ
	url = git@github.com:jimwei6/MoConVQ.git
